#carré1
{
    width  : 50px;
    height : 50px;
    background : green;
}
#carré2
{
  width: 50px;
  height: 50px;
  background: blue;
}
#carré3
{
  width: 50px;
  height: 50px;
  background:red
}
#carré4
{
  width: 50px;
  height: 50px;
  background: yellow
}
#carré5
{
width: 50px;
height: 50px;
background:orange
}
#carré6
{
width: 50px;
height: 50px;
background:white;
}