<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exo Js</title>
    <link rel="stylesheet" href="../Style/exo.css">
</head>
<body class="oui">
    <div class="bgcolor">
        <p id="carré1"></p> 
        <p id="carré2"></p>
        <p id="carré3"></p>
        <p id="carré4"></p>
        <p id="carré5"></p>
        <p id="carré6"></p>
</div>
<p class="SE">
    <a href="./Port-Page2.html"><img src="../Images/bouton-rond-orange-d-icône-à-la-maison-104801487-removebg-preview.png" alt="Accueil" width="100" height="100"></a>


    <script src ="../Script/exo.js">

    </script>
</body>
</html>