<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mon Portfolio</title>
        <link rel="stylesheet" href="../Style/Port-Page2.css">
        <link rel="Icon" href="../Images/téléchargement-removebg-preview.png">
    </head>
    <body>
        <h1 class="NE">Sommaire</h1>
        <p class="SousTitre"></p>
        <p class="Deco"></p>
        <div class="Mid">
            <p><h2>Mon Cv</h2><a href="./Cv.html"><img src="../Images/pngtree-black-arc-arrow-clip-art-png-image_2396266-removebg-preview.png" alt="PageSuivante" width="60" height="60"></a>
                <p class="commentaires">Réalisé uniquement avec du html et du css (deuxième semaine de Nurserie)</p>
            </p>
            <p><h2>Quelques techniques en JavaScript</h2><a href="./exo.html"><img src="../Images/pngtree-black-arc-arrow-clip-art-png-image_2396266-removebg-preview.png" alt="PageSuivante" width="60" height="60"></a>
                <p class="commentaires">Quelques opérations basiques ainsi que la fonction avec mouseover</p>
            </p>
            <p><h2>Site E-Commerce</h2><a href="../Site E-Commerce/Views/Hub.html"><img src="../Images/pngtree-black-arc-arrow-clip-art-png-image_2396266-removebg-preview.png" alt="PageSuivante" width="60" height="60"></a>
                <p class="commentaires">5ème semaine de Nurserie</p>
            </p>
            <p><h2>Méthode Scrum</h2><a href="https://trello.com/b/utVWu032/map-l%C3%A9go"><img src="../Images/pngtree-black-arc-arrow-clip-art-png-image_2396266-removebg-preview.png" alt="PageSuivante" width="60" height="60"></a>
                <p class="commentaires">1er semaine de Nurserie, utilisation de la méthode Scrum à l'aide de Trello</p>
            </p>
        </div>
        <p class="Deco2"></p>
    </body>
</html>