<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Délivrés</title>
        <link rel="stylesheet" href="../Style/Hub.css">
        <link rel="icon" href="../Images/Sans_titre-removebg-preview.png">
    </head>
    <body>
        <header>
            <p class="Title">
                <img src="../Images/Sans_titre-removebg-preview.png" alt="Icone" width="200" height="200">
                <h1 class="MainTitle">
                    Délivrés
                </h1>
                <form action="#" method="get">
                    <a href="../Views/Co-Inscription.html">
                        <input type="button" value="Connexion">
                    </a>
                    <a href="">
                        <input type="button" value="Panier">
                    </a>
                </form>
            </p>
        </header>
        <nav>
            <div class="Option1">
                <button>Manga</button>
                <ul>
                    <li><a href="../Views/Quels types choisir.html">Quels types choisir ?</a></li>
                    <li><a href="../Views/Shonen.html">Shonen</a></li>
                    <li><a href="../Views/Seinen.html">Seinen</a></li>
                    <li><a href="../Views/Manwha.html">Manwha</a></li>
                </ul>
            </div>
            <div class="Option2">
                <button>Littérature</button>
                <ul>
                    <li><a href="#">Quels types choisir ?</a></li>
                    <li><a href="#">Romans</a></li>
                    <li><a href="#">Polar</a></li>
                    <li><a href="#">Science-Fiction / Fantasy</a></li>
                </ul>
            </div>
            <div class="Option3">
                <button>Jeunesse</button>
                <ul>
                    <li><a href="#">Premier Age</a></li>
                    <li><a href="#">Adolescence</a></li>
                </ul>
            </div>
        </nav>
        <section class="top">
            <p class="to">
                Les plus populaires du moment :
            </p>
            <p class="img">
                <img src="../Images/Mangas/jujutsu_kaisen_tome_19.webp" alt="Tome19JJK" height="250" width="250">
                <a href="../Views/Exemple-Produit.html">
                    <img src="../Images/Mangas/Tome_102_Couverture_VO_Infobox.webp" alt="102OnePiece" height="250" width="250">
                </a>
                <img src="../Images/Mangas/Tome9SxF.jpg" alt="9SxF" height="250" width="250">
                <img src="../Images/Mangas/tokyo_revengers_tome_27-4983994-264-432.jpg" alt="27Tokyo" height="250" width="250">
                <img src="../Images/Mangas/Tome1010.jpg" alt="101Dect" height="250" width="250">
            </p>
            <p class="nombre">
                1 : Tome 19 Jujutsu Kaisen 
                2 : Tome 102 One Piece
                3 : Tome 9 Spy x Family
                4 : Tome 27 Tokyo Revengers
                5 : Tome 101 Detective Connan
            </p>

        </section>





        <script src="https://code.jquery.com/jquery-3.6.0.js">
        </script>
        <script src="../Script/Hub.js">
        </script>
    </body>
</html>