<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Manwha</title>
        <link rel="stylesheet" href="../Style/Manwha.css">
        <link rel="icon" href="../Images/Sans_titre-removebg-preview.png">
    </head>
    <body>
        <header>
            <p class="Title">
                <img src="../Images/Sans_titre-removebg-preview.png" alt="Icone" width="200" height="200">
                <h1 class="MainTitle">
                    Délivrés
                </h1>
                <form action="#" method="get">
                    <a href="../Views/Co-Inscription.html">
                        <input type="button" value="Connexion">
                    </a>
                    <a href="">
                        <input type="button" value="Panier">
                    </a>
                </form>
            </p>
        </header>
        <nav>
            <div class="Option1">
                <button>Manga</button>
                <ul>
                    <li><a href="../Views/Quels types choisir.html">Quels types choisir ?</a></li>
                    <li><a href="../Views/Shonen.html">Shonen</a></li>
                    <li><a href="../Views/Seinen.html">Seinen</a></li>
                    <li><a href="../Views/Manwha.html">Manwha</a></li>
                </ul>
            </div>
            <div class="Option2">
                <button>Littérature</button>
                <ul>
                    <li><a href="#">Quels types choisir ?</a></li>
                    <li><a href="#">Romans</a></li>
                    <li><a href="#">Polar</a></li>
                    <li><a href="#">Science-Fiction / Fantasy</a></li>
                </ul>
            </div>
            <div class="Option3">
                <button>Jeunesse</button>
                <ul>
                    <li><a href="#">Premier Age</a></li>
                    <li><a href="#">Adolescence</a></li>
                </ul>
            </div>
        </nav>
        <article class="manw">
            <h2>Les Manwhas</h2>
            <p>
                Manhwa est le terme utilisé à l'international pour désigné la bande dessinée coréenne, il se caractérise par son dynamisme et la très large déclinaison. Il peut être publié au format papier, dans les journaux, sur internet ou pour téléphone portable.
            </p>
            <p class="TypesManwha">
                <img src="../Images/Mangas/Tome1Solo.jpg" alt="Tome1SoloLeveling" height="150" width="150"> <br>
                Solo Leveling est sûrement l'un des manwha les plus connus. L'oeuvre suit Sung Jin Woo, dans un monde ou les monstres existent, l'humanités à évolué afin de lutter contre en créant des "chasseurs". Nous allons suivre Sung Jin Woo, dans sa lutte pour survivre dans ce monde chaotique.. <br> <br>
                <img src="../Images/Mangas/Tome1TOG.jpg" alt="Tome1Tower" height="150" width="150"> <br>
                Tower Of God nous plonge dans l'histoire d'une ascension d'un jeune individu dont on ignore tout sauf son prénom : Baam. Son but est de gravir la tour afin de voir les étoiles et ainsi retrouver la personne qui lui est cher.. <br> <br>
            </p>
        </article>


        <script src="https://code.jquery.com/jquery-3.6.0.js">
        </script>
        <script src="../Script/Manwha.js">
        </script>
    </body>
</html>