<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seinen</title>
    <link rel="stylesheet" href="../Style/Seinen.css"
    <link rel="icon" href="../Images/Sans_titre-removebg-preview.png">
</head>
<body>
    <header>
        <p class="Title">
            <img src="../Images/Sans_titre-removebg-preview.png" alt="Icone" width="200" height="200">
            <h1 class="MainTitle">
                Délivrés
            </h1>
            <form action="#" method="get">
                <a href="../Views/Co-Inscription.html">
                    <input type="button" value="Connexion">
                </a>
                <a href="">
                    <input type="button" value="Panier">
                </a>
            </form>
        </p>
    </header>
    <nav>
        <div class="Option1">
            <button>Manga</button>
            <ul>
                <li><a href="../Views/Quels types choisir.html">Quels types choisir ?</a></li>
                <li><a href="../Views/Shonen.html">Shonen</a></li>
                <li><a href="../Views/Seinen.html">Seinen</a></li>
                <li><a href="../Views/Manwha.html">Manwha</a></li>
            </ul>
        </div>
        <div class="Option2">
            <button>Littérature</button>
            <ul>
                <li><a href="#">Quels types choisir ?</a></li>
                <li><a href="#">Romans</a></li>
                <li><a href="#">Polar</a></li>
                <li><a href="#">Science-Fiction / Fantasy</a></li>
            </ul>
        </div>
        <div class="Option3">
            <button>Jeunesse</button>
            <ul>
                <li><a href="#">Premier Age</a></li>
                <li><a href="#">Adolescence</a></li>
            </ul>
        </div>
    </nav>
    <article class="Seinen">
        <h2>Les Seinens</h2>
        <p>
            Dans le Seinen, l’histoire et l’intrigue du manga est plus mature et cible donc un public plus adulte. On n’y retrouve pas de pouvoirs (enfin rarement) et souvent le thème abordé est très mystérieux voir sombre. 
        </p>
        <p class="TypesSeinen">
            <img src="../Images/Mangas/Tome1Berserk.jpg" alt="Tome1Berserk" height="150" width="150"> <br>
            Berserk est sûrement l'un des seinen les plus connus à ce jour. L'ambiance sombre de l'oeuvre nous plonge dans un monde rempli de désespoir. Nous allons suivre l'histoire de Gutz, un épeiste animé par la vengeance bien décidé à éradiquer le mal dans son monde peu importe le prix.. <br> <br>
            <img src="../Images/Mangas/Tome1YN.jpg" alt="Tome1YourName" height="150" width="150"> <br>
            Your Name nous raconte l'histoire de Mitsuha, une jeune fille réveuse de quitter sa famille traditionnelle afin de découvrir le monde extérieur. C'est sans compter sur l'aide de Taki, un jeune lycéen de Tokyo, qui "l'accompagnera" afin de réaliser son rêve.. <br> <br> 
        </p>
    </article>






    <script src="https://code.jquery.com/jquery-3.6.0.js">
    </script>
    <script src="../Script/Seinen.js">
    </script>
</body>
</html>