<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shonen</title>
        <link rel="stylesheet" href="../Style/Shonen.css">
        <link rel="icon" href="../Images/Sans_titre-removebg-preview.png">
    </head>
    <body>
        <header>
            <p class="Title">
                <img src="../Images/Sans_titre-removebg-preview.png" alt="Icone" width="200" height="200">
                <h1 class="MainTitle">
                    Délivrés
                </h1>
                <form action="#" method="get">
                    <a href="../Views/Co-Inscription.html">
                        <input type="button" value="Connexion">
                    </a>
                    <a href="">
                        <input type="button" value="Panier">
                    </a>
                </form>
            </p>
        </header>
        <nav>
            <div class="Option1">
                <button>Manga</button>
                <ul>
                    <li><a href="../Views/Quels types choisir.html">Quels types choisir ?</a></li>
                    <li><a href="../Views/Shonen.html">Shonen</a></li>
                    <li><a href="../Views/Seinen.html">Seinen</a></li>
                    <li><a href="../Views/Manwha.html">Manwha</a></li>
                </ul>
            </div>
            <div class="Option2">
                <button>Littérature</button>
                <ul>
                    <li><a href="#">Quels types choisir ?</a></li>
                    <li><a href="#">Romans</a></li>
                    <li><a href="#">Polar</a></li>
                    <li><a href="#">Science-Fiction / Fantasy</a></li>
                </ul>
            </div>
            <div class="Option3">
                <button>Jeunesse</button>
                <ul>
                    <li><a href="#">Premier Age</a></li>
                    <li><a href="#">Adolescence</a></li>
                </ul>
            </div>
        </nav>
        <section class="List">
            <article class="Shonen">
                <h2>Les Shonens</h2>
                <p>
                    C’est le genre manga le plus connu et celui qui a démocratisé le manga en Europe. Si je vous parle de « Dragon Ball », « Naruto », « One Piece », ou encore « Bleach » ce sont les mangas les plus connus et font tous partis du genre Shonen. Le Shonen est donc généralement adressé aux adolescents (mais pas que). Ce genre présente beaucoup d’action et des personnages qui au départ sont faibles et qui par de nombreux entraînements deviennent de plus en plus fort. Le personnage principal tisse des liens avec d’autres personnages jusqu’à devenir une vraie famille. Il se sacrifierait pour ses proches. Vous pouvez voir différents exemples de Shonen si-dessous.
                </p>
                <p class="TypesShonen">
                    <img src="../Images/Mangas/Tome1OnePiece.jpg" alt="Tome1OnePiece" width="150" height="150"> <br>
                    One piece est l'un (voir le) des plus populaires du monde. Les aventures d'un jeune pirate nommé Monkey D Luffy à la poursuite de son rêve vous emmènera dans un monde fantastique remplit d'émotions en tout genre.. <br> <br>
                    <img src="../Images/Mangas/Tome1Bleach.jpg" alt="Tome1Bleach" width="150" height="150"> <br>
                    Bleach (mon préfèré) raconte l'histoire d'un jeune étudiant de 15ans, Ichigo Kurosaki capable de voir les fantômes. Suites à un évènement hasardeux, il se retrouvera plongé dans un monde qu'il ne connaissait pas, luttant contre les forces maléfiques.. <br> <br>
                    <img src="../Images/Mangas/Tome1Naruto.jpg" alt="Tome1Naruto" height="150" width="150"> <br>
                    Naruto raconte l'histoire d'un jeune orphelin, rejeté par son village, à la conquète de son rêve le plus cher : Devenir Hokage. C'est dans un monde ou les ninjas sont omniprésents qu'il devra faire ses preuves afin d'aller au bout de ses objectifs.. <br> <br>
                </p>
            </article>
        <script src="https://code.jquery.com/jquery-3.6.0.js">
        </script>
        <script src="../Script/Shonen.js">
        </script>
    </body>
</html>