body
{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


header
{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-color: #264757;
}
.MainTitle
{
    width: fit-content;
    position: relative;
    right: 115px;
    font-size: 50px;
    color: lightgray;
}
form
{
    position: absolute;
    right: 30px;
    top: 30px;
}
nav
{
    display:flex;
    justify-content: flex-start;
}
button
{
    position: relative;
    width: 200px;
    height: 60px;
    font-size: 24px;
    background: #172b36;
    color: lightgray;
    cursor: pointer;
    border: none;
    box-shadow: none;
    outline: none;
}
ul
{
    background: lightblue;
    transform-origin: top;
    transform: perspective(1000px) rotateX(-90deg);
    transition: 0.5s;
    position: absolute;
    padding: 0;
    margin: 0;
    width:200px;
}
ul.active
{
    transform: perspective(1000px) rotateX(0deg);
}
ul li 
{
    list-style: none;
}
ul li a
{
    display: block;
    padding: 2px;
    background : #262626;
    color : #afafaf;
    border-bottom: rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    text-align: center;
    text-decoration: none;
}
ul li a:hover
{
    background:#264757;
}
.Shonen, .Seinen, .manw
{
    display: block;
    text-align: center;
}
body
{
    background-color: lightgray;
    color: #172b36;
}
input
{
    position: relative;
    width: 150px;
    height: 60px;
    font-size: 24px;
    background: #172b36;
    color: lightgray;
    cursor: pointer;
    border: none;
    box-shadow: none;
    outline: none;
}